<div class="message_all">
  <h2>Current Conversation: <%= @conversation.title %></h2>
  <% @conversation.messages.each do |message| %>
    <%= render "show_message", {family: @family, conversation: @conversation, message: message} %>
  <% end %>
</div>


<%= form_for [@family, @conversation, @message], remote: true do |f| %>
  <%= f.label :content, "Write a new message" %><br>
  <%= f.text_field :content %><br><br>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
