<h2>Account Activation</h2>

<%= form_for resource, :as => resource_name, :url => update_person_confirmation_path, :html => {:method => 'patch'}, :id => 'activation-form' do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <legend>We just need a couple more pieces of information so you can activate your account.</legend>

  <% if resource.first_name.blank? %>
      <p><%= f.label :first_name,"What's your first name?" %> <%= f.text_field :first_name %></p>
  <% end %>
  
  <% if resource.phone.blank? %>
      <p><%= f.label :phone, "What's your phone number?" %> <%= f.text_field :phone %></p>
  <% end %>
  
  <% if resource.birthday.blank? %>
      <p><%= f.label :birthday, "What's your birthday?" %> <%= f.date_field :birthday %></p>
  <% end %>

  <% if resource.gender.blank? %>
      <p><%= f.label :gender, "What's your gender?" %> <%= f.text_field :gender %></p>
  <% end %>

  <% if resource.profile_photo.blank? %>
      <p><%= f.label :profile_photo, "Upload a Picture!" %> <%= f.file_field :profile_photo %></p>
  <% end %>

  <% if @requires_password %>
      <p><%= f.label :password,'Choose a Password:' %> <%= f.password_field :password %></p>
      <p><%= f.label :password_confirmation,'Password Confirmation:' %> <%= f.password_field :password_confirmation %></p>
  <% end %>

  <%= hidden_field_tag :confirmation_token, @confirmation_token %>
  <p><%= f.submit "Activate" %></p>
  </fieldset>
<% end %>
