<%= form_for([@family, @conversation], remote: true) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  
  <p>Who is in this conversation?</p>
  <label><%= check_box_tag :family %> Entire Family</label>
  <br>
  <% @relationships.each_with_index do |relation, index| %>
    <% unless current_person.send("#{relation}").blank?  %>
      <%= f.check_box :parse_permission, {multiple: true, class: "family"}, (index+1), nil %> <%= relation.capitalize %><br>
    <% end %>
  <% end %>
  
  <%= link_to "Custom", "#" %><br>
  <div class="customize">
    <%= collection_check_boxes(:conversation, :parse_permission, @other_members, :first_name, :first_name) do |b| %>
    <%= b.check_box %> <%= b.label(class: "check_box") %><br>
    <% end %>
  </div>
  <br><br>
  <%= f.submit %>
<% end %>