<%= form_for([@family, @conversation], remote: true) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  
  <p>Who is in this conversation?</p>
  <%= render 'layouts/permission_form', f: f, current_resource: "conversation" %>
  <br>
  <%= f.submit %>
<% end %>