<div class="convo deletable_div white_div" data-id="<%= convo.id %>">
  <h3>
    <%= link_to convo.title, family_conversation_messages_index_path(@family, convo) %>
    <%= link_to "✖", delete_conversations_path(family, convo), remote: true, method: :delete, class: "delete_x" %>
  </h3>
  <% if convo.messages.blank? %>
    <p>No Messages Yet :( </p>
  <% else %>
    <p><%= convo.last_contributor %>: <%= convo.last_message %></p>
  <% end %>
</div>