<div class="convo deletable_div message_convo_div" data-id="<%= convo.id %>">
  <h3>
    <%= link_to capitalize_string(convo.title), family_conversation_path(@family, convo) %>
    <h5 id="permitted_members"><%= convo.all_permitted_members %></h5>
    <% if convo.owner == current_person  %>
      <%= link_to "✖", delete_family_conversations_path(@family, convo), remote: true, method: :delete, data: { confirm: "Are you sure you want to delete this conversation?"}, class: "delete_x" %>
    <% end %>
  </h3>
  <% if convo.messages.blank? %>
    <p>0 Messages</p>
  <% else %>
    <p><%= convo.last_contributor %>: <%= convo.last_message %></p>
  <% end %>
</div>