<%= render 'form' %>
<br>
<%= search_form_for @search, remote: true do |f| %>
  <%= f.text_field :messages_content_cont, placeholder: "Search conversations..." %>
  <%= f.submit 'Search' %>
  <%= f.submit 'Show All', name: 'show_all' %>
<% end %>
<% if current_person.cannot_see_any?("conversation") || @conversations.empty? %>
  <div class="white_div none_showing" >You have 0 conversations.</div>
<% else %>
  <div class="convo_all">
    <% if @last_search.nil? %>
      <% current_person.all_permitted("conversation").each do |convo|  %>
        <%= render 'show_conversation', family: @family, convo: convo %>
      <% end %>
    <% else %>
      <% @all_found.each do |convo| %>
        <% if current_person.all_permitted("conversation").include?(convo)  %>
          <%= render 'show_conversation', family: @family, convo: convo %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>