<%= render 'form' %>
<br>
<%= search_form_for @search, remote: true do |f| %>
  <%= f.text_field :messages_content_cont, placeholder: "Search conversations..." %>
  <%= f.submit 'Search' %>
  <%= f.submit 'Show All', name: 'show_all' %>
<% end %>

<% if current_person.cannot_see_any?("conversation") || @conversations.empty? %>
  <div class="white_div" >You have 0 albums.</div>
<% else %>
  <div class="convo_all">
    <% if @all_found.length < 1 %>
      <% @family.conversations.each do |convo|  %>
        <%= render 'show_conversation', family: @family, convo: convo %>
      <% end %>
    <% else %>
      <% @all_found.each do |convo| %>
        <%= render 'show_conversation', family: @family, convo: convo %>
      <% end %>
    <% end %>
  </div>
<% end %>