<div class="center">
  <h2 data-id="<%= @conversation.id %>"><%= capitalize_string(@conversation.title) %></h2>
  <h5>Who can view this conversation? <span id="permitted_members"><%= permitted_except_viewer(@conversation) %></span></h5>
  <%= link_to "All Conversations", family_conversations_path(@family) %>
  <% if current_person == @conversation.owner %>
    | <%= link_to "Delete", delete_family_conversations_path(@family, @conversation), method: :delete, data: { confirm: "Are you sure you want to delete this conversation?"} %>
  <% end %>
</div>
<div class="white_div new_message">
  <%= form_for [@family, @conversation, @message], remote: true do |f| %>
    <%= f.label :content, "New Message" %><br>
    <%= f.text_area :content, required: true %><br><br>

    <%= f.submit %>
  <% end %>
  <br>
</div>

<div class="message_all center_div">
  <% if @conversation.messages.length == 0 %>
    <div class="white_div none_showing" >You have 0 messages.</div>
  <% else %>
      <% @conversation.messages.reverse.each do |message| %>
        <%= render "messages/show_message", {family: @family, conversation: @conversation, message: message} %>
      <% end %>
  <% end %>
</div>
