<h1 class="center">About Us</h1>
<div class="white_div left_about">
  <h1>Background</h1>
  <p class="background_p">All in the Family is a closed social network for you and your family. We made it as easy as possible to share photos, plan events, and have conversations with family members. The application also includes custom permissions so you don't have to share your bar-hopping photos with your grandparents.</p>
  <p>Have feedback? Shoot us an <a href="mailto:allinthefamilyapp@gmail.com">email</a>!</p>
</div>
<div class="white_div right_about">
  <h1>Creators</h1>
  <p>All in the Family was created with love in the Ruby-004 semester at the <%= link_to "Flatiron School", "http://flatironschool.com" %> by:</p>
  <div class="bio">
    <%= image_tag('https://avatars2.githubusercontent.com/u/6137515?s=140') %>
    <p>Arielle Sullivan</p>
      <%= link_to "Github", "http://github.com/asullivan210" %> |
      <%= link_to "Blog", "http://medium.com/@sullivanarielle" %>
  </div>
  <div class="bio">
    <%= image_tag('https://en.gravatar.com/userimage/63863492/a1b7e0e7d61b42994aec1a8ec4d5400f.jpg?size=140') %>
    <p>Daniel Spector</p>
      <%= link_to "Github", "http://github.com/danielspector" %> |
      <%= link_to "Blog", "http://medium.com/@danielspecs" %>
  </div>
  <div class="bio">
    <%= image_tag('https://avatars0.githubusercontent.com/u/5783513?u=a04b8a6909b5a7afad4aaf8d9ff336936fd27d9d&s=140') %>
    <p>Alex Wilkinson</p>
      <%= link_to "Github", "http://github.com/alexwilkinson" %> |
      <%= link_to "Blog", "http://alexwilkinson.me/blog" %>
  </div>
</div>