<h1 class="center">About Us</h1>
<div class="white_div about_div">
  <h1>Background</h1>
  <p class="background_p">All in the Family is a closed social network for you and your family. We made it as easy as possible to share photos, plan events and have conversations with family members. The application also includes custom permissions so you don't have to share your bar-hopping photos with your grandparents.</p>
  <p>Have feedback? Send us an email at</p>
  <h4>allinthefamilyapp@gmail.com!</h4>
</div>
<div class="white_div about_div">
  <h1>Creators</h1>
  <p>All in the Family was created with love in the Ruby-004 semester at the <%= link_to "Flatiron School", "http://flatironschool.com" %> by:</p>
  <div class="bio">
    <%= image_tag('https://avatars2.githubusercontent.com/u/6137515?s=140') %>
    <p>Arielle Sullivan</p>
      <%= link_to "Github", "http://github.com/asullivan210" %> |
      <%= link_to "Blog", "http://medium.com/@sullivanarielle" %>
  </div>
  <div class="bio">
    <%#= image_tag('') %>
    <p>Daniel Spector</p>
      <%= link_to "Github", "http://github.com/danielspector" %> |
      <%= link_to "Blog", "http://medium.com/@danielspecs" %>
  </div>
  <div class="bio">
    <%= image_tag('https://photos-6.dropbox.com/t/0/AAAy8V_yQXEIKjCjflCFVBwn01_a9CsnLuMvFhI56C2ITQ/12/49046/jpeg/1024x768/3/1398196800/0/2/headshot-for-site.jpg/Y2G-CMFS7Ox-jWfg_hxs2rr5HY582nVBj_m1D3lGYEM') %>
    <p>Alex Wilkinson</p>
      <%= link_to "Github", "http://github.com/alexwilkinson" %> |
      <%= link_to "Blog", "http://alexwilkinson.me/blog" %>
  </div>
</div>