<h1>Events</h1>
<h2 class="center"><%= link_to "Create a New Event!", new_event_path %></h2>
<div id="events">
  <h2 id="month">
  <%= link_to "<", date: @date.prev_month %>
  <%= @date.strftime("%B %Y") %>   
  <%= link_to ">", date: @date.next_month %>
</h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% formatted_date = Time.zone.parse(date.to_s).utc %>
    <% binding.pry %>
    <% if @permitted_events_by_date[formatted_date] %>
      <ul>
        <% @permitted_events_by_date[formatted_date].each do |event| %>
          <p>
            <%= event.start_date.strftime("%H: %M") %>: <%= link_to capitalize_string(event.name), event_path(@family, event) %>
          </p>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
