<div class="center">
  <h1><%= @event.name.titleize %></h1>
  <h5>Who can view this event?</h5>
  <h5 id="permitted_members"><%= permitted_except_viewer(@event) %></h5>
  <h5>Event Owner: <%= @event.owner.first_name %></h5>
  <% if @event.owner == current_person %>
    <%= link_to "Delete", delete_family_event_path(@family, @event), method: :delete, data: { confirm: "Are you sure you want to delete this event?"} %>
  <% end %>
  <hr>
  <%= render 'event_times' %>
  <hr>
  <p><%= @event.description %></p>
</div>