  <%= form_for [@family, @album] do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %><br>
    <br>
    <p>Who can view my album?</p>
    <%= render 'layouts/permission_form', f: f, current_resource: "album" %>
    <br>
    <%= f.submit %>
  <% end %>
  <br>
  <%= link_to "Back to All Albums", albums_path %>
