<div class="white_div text-left">
  <%= form_for [@family, @album] do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %><br>

    <p>Who can view my album?</p>

     <label><%= check_box_tag :family %> Entire Family</label>
     <br>
    <% @relationships.each_with_index do |relation, index| %>
      <% unless current_person.send("#{relation}").blank?  %>
        <%= f.check_box :parse_permission, {multiple: true}, (index+1), nil %> <%= relation.capitalize %><br>
      <% end %>
    <% end %>

    <%= link_to "Custom", "#" %><br>
    <div class="customize">
      <%= collection_check_boxes(:album, :parse_permission, 
        @other_members, 
        :first_name, :first_name) do |b| %> 
      <%= b.check_box %> <%= b.label(class: "check_box") %><br>
      <% end %>
    </div>
    <br><br>
    <%= f.submit %>
  <% end %>

  <br>
  <%= button_to "Back to All Albums", albums_path %>
</div>