<div class="white_div text-left">
<%= form_for [@family, @album] do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <br>
  <% ["siblings", "parents", "children", "grandparents", "grandchildren", "children_in_laws", "spouse"].each_with_index do |relation, index| %>
    <% unless current_person.send("#{relation}").blank?  %>
      <%= f.check_box :parse_permission, {multiple: true}, (index+1), nil %> <%= relation.capitalize %><br>
    <% end %>
  <% end %>
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Custom
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= f.text_field :family_id %></li>
    </ul>
  </div>
  <br><br>
  <%= f.submit %>
<% end %>

<br>
<%= button_to "Back to All Albums", albums_path %>
</div>