<div class="row">
<h2 class="center"><%= link_to "Create an album!", new_family_album_path %></h2>
<% if current_person.cannot_see_any?("album") || @albums.empty? %>
<div class="white_div" >You have 0 albums.</div>
<% else %>
  <% @albums.each do |album| %>
    <% if current_person.can_see?(album) %>
      <%= link_to album_path(@family, album) do %>
        <div class="white_div deletable_div" data-id= "<%= album.id %>">
          <h2><%= album.name %></h2>
          <%= album.photos.last.data_url(:thumb).to_s unless album.photos.empty? %>
          <p>Photos: <%=album.photos.count%></p>
          <%= album.created_at.strftime("%b %Y") %>
          <br><br>
          <% if album.owner == current_person  %>
            <%= link_to "✖", delete_family_album_path(album.family, album), remote: true, method: :delete, data: { confirm: "Are you sure you want to delete this album?"}, class: "delete_x" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
<div class="row text-center">
</div>


