<div class="row">
<% if @albums.empty? %>
<p>You have 0 albums.</p>
<% else %>
  <% @albums.each do |album| %>
  <div class="white_div" data-id= "<%= album.id %>">
    <h2><%= album.name %></h2>
    <p>Photos: <%=album.photos.count%></p>
    <%= album.date.strftime("%b %Y") %>

    <%= link_to "View", album_path(Family.find(params[:id]),album) %> |
    <%= link_to "Edit", edit_album_path(Family.find(params[:id]),album) %> |
    <%= link_to "Delete", destroy_album_path(Family.find(params[:id]),album), remote: true, method: :delete %>
  </div>
  <% end %>
<% end %>
</div>
<div class="row text-center">
<%= button_to "Create an album!", new_album_path %>
</div>


