<div class="row">

<% if current_person.cannot_see_any_albums? || @albums.empty? %>
<div class="white_div" >You have 0 albums.</div>
<% else %>
  <% @albums.each do |album| %>
    <% if current_person.can_see_album?(album) %>
      <%= link_to album_path(@family, album) do %>
        <div class="white_div deletable_div" data-id= "<%= album.id %>">
          <h2><%= album.name %></h2>
          <%= album.photos.last.data_url(:thumb).to_s unless album.photos.empty? %>
          <p>Photos: <%=album.photos.count%></p>
          <%= album.created_at.strftime("%b %Y") %>
          <br><br>
          <%= link_to "✖", destroy_album_path(album.family, album), remote: true, method: :delete, class: "delete_x" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
<div class="row text-center">
<%= link_to "Create an album!", new_album_path %>
</div>


