<p><span class="large_font"><%= @album.name %></span> <%= @album.created_at.strftime("%b %Y") %></p>
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Options
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "Delete", destroy_album_path(@family, @album), method: :delete %></li>
      <li class="divider"></li>
    </ul>
  </div>
</div>
<br>
<div class="add_photo">
  <%= form_tag(create_photo_path(@family, @album), remote: true, multipart: true) do %>
    <%= label_tag "photo[data]", "Add a Photo" %>
    <%= file_field_tag "photo[data]" %><br>
    <%= text_field_tag "photo[caption]", "", placeholder: "Add Caption", autofocus: true %><br><br>
    <%= submit_tag "Upload Photo" %>
  <% end %>
  <%= link_to "Back to All Albums", albums_path %>
</div>

  <div class="photos">
    <% unless @album.photos.empty? %>
      <% @album.photos.reverse.each do |photo| %>
      <%= render "photos/show_photo", {family: @family, album: @album, photo: photo} %>
      <% end %>
    <% end %>
  </div>