<div class="center">
  <input type="text" value="<%= @album.name %>" id="album_title_field" class="large_font input_name hidden">
  <span data-id= "<%= @album.id %>" data-family= "<%= @family.id %>" class="large_font album_name"><%= @album.name %></span><br>
  <%= link_to "All Albums", albums_path(@family, @album) %><br>
  <%= link_to "Delete", delete_family_album_path(@family, @album), method: :delete %>
  <h5 id="permitted_members"><%= @album.all_permitted_members %></h5>
  <%= @album.created_at.strftime("%b %Y") %>
</div>
<% if @album.owner %>
<% end %>   
<br>
<%= render 'photos/form' %>

<div class="photos">
  <% unless @album.photos.empty? %>
    <% @album.photos.reverse.each do |photo| %>
    <%= render "photos/show_photo", {family: @family, album: @album, photo: photo} %>
    <% end %>
  <% end %>
</div>
