<h1><%= @album.name %></h1>
<p><%=@album.photos.count%> Photos</p>
<p><%= @album.date.strftime("%b %Y") %></p>
<p>Uploaded <%= time_ago_in_words(@album.created_at) %></p>
<%= link_to "Edit", edit_album_path(Family.find(params[:id]),@album) %> |
<%= link_to "Delete", destroy_album_path(Family.find(params[:id]),@album), method: :delete %> |
<%= link_to "All Albums", albums_path(Family.find(params[:id]),@album) %>

<br><br>

<%= form_tag(create_photo_path, remote: true, multipart: true) do %>
  <%= label_tag "photo[data]", "Add a Photo" %>
  <%= file_field_tag "photo[data]" %> <br>
  <%= text_field_tag "photo[caption]", "", placeholder: "Add Caption", autofocus: true %> <br>
  <%= submit_tag "Upload Photo" %>
<% end %>
  <div class="photos">
    <% unless @album.photos.empty? %>
      <% @album.photos.reverse.each do |photo| %>
      <%= render "photos/show_photo", {photo: photo} %>
      <% end %>
    <% end %>
  </div>