<div class="panel panel-default inline form_attr">
  <div class="panel-heading">
    <h4 class="center">Create Your Family</h4>
  </div>
  <div class="panel-body">
    <%= form_for(@family, remote: true) do |f| %>
      <div class="control-group">
        <%= f.label :name %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <br>
      <div id="member_inputs">
        <%= label_tag "Send invitations via email:" %><br>
        <%= render "member_input" %><br>
      </div>
      <%= link_to("Add Member", add_member_path, remote: true) %><br><br>
      <hr>
      <div class="center">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
