<%= form_for(@family) do |f| %>
  <div><%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <h3>Add Family Members</h3>

  <div id="member_inputs">
    <%= render "member_input" %><br>
  </div>

  <%= link_to("Add Member", add_member_path, remote: true) %><br><br>

  <%= f.submit %>
<% end %>

