<% @family.people.each do |person| %>
  <% if person != current_person %>
    <div class="white_div">
      <h4><%= person.first_name %>, your <%= person.relationship_to(current_person)%></h4>
      <p><%= "Age: #{person.age}" if person.age %></p>
      <p><%= "Birthday: #{person.birthday.strftime("%B %d, %Y")}" if person.birthday %></p>
      <p><%= "Phone: #{person.phone}" if person.phone %></p>
      <p><%= "Location: #{person.location}" if person.location %></p>
    </div>
  <% end %>
<% end %>