<h2 class="center"><%= link_to "About Us", new_family_album_path %></h2>
<% current_person.my_family_members.each do |person| %>
  <% if person != current_person %>
    <div class="white_div">
      <%= image_tag(person.profile_photo_url(:tiny)) %>
      <h4><%= person.first_name %>, your <%= person.relationship_to(current_person)%></h4>
      <div>
        <p><%= "Age: #{person.age}" unless person.age.blank? %></p>
        <p><%= "Birthday: #{person.birthday.strftime("%B %e, %Y")}" unless person.birthday.blank? %></p>
        <p><%= "Phone: #{person.phone}" unless person.phone.blank? %></p>
        <p><%= "Location: #{person.location}" unless person.location.blank? %></p>
      </div>
    </div>
  <% end %>
<% end %>