<% @family.people.each do |person| %>
  <% if person != current_person %>
    <div class="white_div">
      <h4><%= person.first_name %>, your <%= person.relationship_to(current_person)%></h4>
      <p>Age <%= person.age %></p>
      <p>Birthday <%= person.birthday %></p>
      <p>Phone <%= person.phone %></p>
      <p>Location <%= person.location %></p>
    </div>
  <% end %>
<% end %>