<h1 class="text-center">The <%= @family.name %> Family</h1>
<div class="white_div">
  <h1><%= link_to "Our Family", about_us_path(@family) %><br></h1>
</div>
<div>
  <%= render 'album_scroll', family: @family %>
  <%= render 'conversations', family: @family %>
  <%= render 'events', family: @family %>
</div>