<nav class="navbar navbar-default" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">All in the Family</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", "#" %></li>
        <li>
          <% if person_signed_in? %>
            <a>Signed in as <%= current_person.first_name.capitalize if current_person.first_name %></a>
          <% end %>
        <li>
          <% if person_signed_in? %>
            <%= link_to "Sign Out", destroy_person_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_person_session_path %>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>