<%= link_to "By Group", "#" %>
<br>
<div class="group_section">
<label><%= check_box_tag :family %> Entire Family</label>
<br> 
  <% @relationships.each_with_index do |relation, index| %>
    <% unless current_person.send(relation).blank? || [current_person.send(relation)].flatten.none? {|member| member.confirmed?} %>
      <%= f.check_box :parse_permission, {multiple: true, class: "group"}, (index+1), nil %> <%= capitalize_string(relation) %>
      <br>
    <% end %>
  <% end %>
</div>

<%= link_to "By Person", "#" %>
<br>
<div class="individual_section">
  <%= collection_check_boxes(current_resource.to_sym, :parse_permission, @other_members, :permission_slug, :first_name) do |b| %> 
    <%= b.check_box(class: "individual") %> <%= b.label(class: "check_box") %>
    <br>
  <% end %>
</div>