<%= link_to "By Group", "#" %>
<br> 
<div class="group">
<label><%= check_box_tag :family %> Entire Family</label>
<br> 
  <% @relationships.each_with_index do |relation, index| %>
    <% unless current_person.send("#{relation}").blank?  %>
      <%= f.check_box :parse_permission, {multiple: true, class: "group"}, (index+1), nil %> <%= relation.capitalize %>
      <br>
    <% end %>
  <% end %>
</div>

<%= link_to "By Person", "#" %>
<br>
<div class="customize">
  <%= collection_check_boxes(:album, :parse_permission, @other_members, :id, :first_name) do |b| %> 
    <%= b.check_box(class: "custom") %> <%= b.label(class: "check_box") %>
    <br>
  <% end %>
</div>